@tailwind base;
@tailwind components;
@tailwind utilities;

body { font-family: 'Tajawal', 'Segoe UI', sans-serif; }

@media print {
  body * { visibility: hidden; }
  #print-area, #print-area * { visibility: visible; }
  #print-area { position: absolute; inset: 0; }
}
